<nav class="navbar fixed-top navbar-expand-lg navbar-dark pink scrolling-navbar">
    <img src="{{ asset('images/logo.png') }}" width="400px" height="150px" style="margin-left: 38%">
    <div class="navButton">
        {% if session is defined %}
                {% if session.username==null %}
                        <a class="btn btn-outline-success my-2 my-sm-0" style="margin-right: 2%;" href="{{ path('Security.login') }}">Se Connecter</a>
                        <a class="btn btn-outline-secondary my-2 my-sm-0" href="{{ path('Security.register') }}">S'inscrire</a>
                {% else %}
                        Bonjour {{ session.username }}
                    <a class="btn btn-outline-warning" href="{{ path('Security.logout') }}">Se déconnecter</a>
                {%  endif%}
        {% endif %}
    </div>
</nav>
